.top_title {
    font-family: serif;
    background-color: gray;
    color: white;
    height: 18px;
    width: 100%;
    top: -10px;
    left: -20px;
    bottom: -5px;
    padding-left: 45px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

h6 {
    position: relative;
    left: 15px;
    font-size: 10px;
    color: gray;
    padding-top: 1px;
    padding-bottom: 1px;
}

a {
    color: orange;
}

a:visited {
    color: none;
}

a {
    text-decoration: none;
}

.sections {
    color: orange;
    background-color: #34618E;
    width: 100%;
    margin: 2px;
    position: relative;
    left: -50px;
    margin-bottom: 10px;
    padding: 10px 60px;
}

ul {
    background-color: #34618E;
    position: relative;
    height: 720px;
    top: -20px;
    padding-top: 10px;
    width: 100%;
    left: -20px;
    font-size: 16px;
}

.zibber {
    text-decoration: none;
    color: white;
}

.sections:hover {
    box-shadow: 3px 3px 3px 3px;
    background-color: #195196;
    font-weight: bold;

    
}

h6 {
    position: ;
}