.onecube {
	background-color: black;
	width: 300px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
		
}
.cube {
	width: 100px;
	height: 100px;
	background-color: green;
	border-radius: 100%;
	position: absolute;
}


.action {
	opacity: 0;
	z-index: 100;
	position: absolute;
	background-color: white;
}

#a101 {
	left: 0;
	top: 0;
	background-color: green;
}
#a102 {
	left: 100px;
	top: 0;
}
#a103 {
	left: 200px;
	top: 0px;
}
#a201 {
	left: 0px;
	top: 100px;
}
#a202 {
	left: 100px;
	top: 100px;
}
#a203 {
	left: 200px;
	top: 100px;
}
#a301 {
	left: 0px;
	top: 200px;
}
#a302 {
	left: 100px;
	top: 200px;
}
#a303 {
	left: 200px;
	top: 200px;
}

#a1 {
	left: 0px;
	top: -30px;
	width: 100px;
	height: 360px;
}
#a2 {
	left: 100px;
	top: -30px;
	width: 100px;
	height: 360px;
}
#a3 {
	left: 200px;
	top: -30px;
	width: 100px;
	height: 360px;
}

#a4 {
	left: -30px;
	top: 0px;
	width: 360px;
	height: 100px;
	
}
#a5 {
	left: -30px;
	top: 100px;
	width: 360px;
	height: 100px;
}
#a6 {
	left: -30px;
	top: 200px;
	width: 360px;
	height: 100px;
}

html {
	margin: 0;
	height: 100%;
	
	-webkit-transition: background 1.5s ease;
	transition: background 1.5s ease;
}

