body {
    font-family: futura, "Comic Sans MS", sans-serif;
    background-color: white;
}

a {
    color: gray;
    text-decoration: none;
}



a:hover {/* mouse on top color */
    color: blue;
}

a:active {/* mouse on click color */
    color: lime;
}

a:visited {/* you already read */
    color: orange;
}

ul {
    list-style: none;
    margin: 0;
    padding: fixed;
}

li {
    margin: 0;
    padding: 0;
}

.sidebar { 
    font-family: helvetica, sans-serif ;
    font-size: 16px;
    position: fixed;
    background-color: #1C2F44;
    color: #B9C0C9;
    width: 175px;
    height: 485px;
    top: 20px;
    left:20px;
    box-shadow: 3px 3px 8px .5px;
    border-radius: 1em 0em;
        border-top-left-radius: 1em;
        border-top-right-radius: 0em;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 0em;
}
    