body {
    font-family: "Comic Sans MS", sans-serif;
    background-color: yellow;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

a {
    color: red;
    text-decoration: none;
}



a:hover {/* mouse on top color */
    color: blue;
}

a:active {/* mouse on click color */
    color: lime;
}

a:visited {/* you already read */
    color: orange;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

