body {
    font-family: "Comic Sans MS", sans-serif;
    background-color: #9ce5de;
}

a {
    color: red;
    text-decoration: none;
}



a:hover {/* mouse on top color */
    color: blue;
}

a:active {/* mouse on click color */
    color: lime;
}

a:visited {/* you already read */
    color: orange;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

. sidebar { 
    font-family: helvetica, sans-serif ;
    font-size: ;
    position: ;
    background-color: ;
    color: ;
    width: ;
    height: ;
    top: ;
    left:;
    box-shadow: ;
    border-radius: ;
}
    